// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

textarea {
    resize: none;
}

.btn-link {
  padding: 0px;
  border-width: 0px;
  vertical-align: top;
}

#loginBody {
  background-image: url("/assets/login-bg.jpg");
  background-color: white;
  background-size: 200px;
  background-repeat: repeat;
  height: 500px;
}

#signupBody {
  background-image: url("/assets/signup-bg.jpg");
  background-color: white;
  background-size: 200px;
  background-repeat: repeat;
  height: 500px;
}

.form {
  padding-top: 30px;
  background-color: #ffffffd1;
  max-width: 300px;
}


.fire-button {
    background-image: url("/assets/fire.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-style: none;


}

.fire-button-transparent {
    background-image: url("/assets/fire-transparent.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-style: none;
}


.collapsed-tabs {
    border: 1px solid #dee2e6;
}

.collapsed-tabs > .nav-item {
    display : none;
}

.collapsed-tabs > .nav-item.active {
    display : block;
    margin-left: auto;
    margin-right: auto;
}



.expanded-tabs {
    border: 1px solid #dee2e6;
    border-bottom: none;
    flex-direction: column;
}

.expanded-tabs > .nav-item {
    border-bottom: 1px solid #dee2e6;
    text-align: center!important;
}

.expanded-tabs > .nav-item.active > a {
    color: black;
}

.expanded-tabs > span, .collapsed-tabs > span {
    position: absolute;
    top: 15px;
    right: 45px;
}


.profile-page-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.hidden {
    visibility: hidden;
    height: 0px;
}
