// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

textarea {
    resize: none;
}

.btn-link {
  padding: 0px;
  border-width: 0px;
  vertical-align: top;
}

#loginBody {
  background-image: url("/assets/login-bg.jpg");
  background-color: white;
  background-size: 200px;
  background-repeat: repeat;
  height: 500px;
}

#signupBody {
  background-image: url("/assets/signup-bg.jpg");
  background-color: white;
  background-size: 200px;
  background-repeat: repeat;
  height: 500px;
}

.form {
  padding-top: 30px;
  background-color: #ffffffd1;
  max-width: 300px;
}


.fire-button {
    background-image: url("/assets/fire.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-style: none;


}

.fire-button-transparent {
    background-image: url("/assets/fire-transparent.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-style: none;
}
