<p>Welcome <%= @resource.full_name %>!</p>

<p>To confirm your email, follow the link below, then log in.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>See you soon!</p>

<p>Love,</p>

<p>hottakethursday.com</p>
