<p>Hello <%= @resource.full_name %>!</p>

<p>It seems you have forgotten your password. Try to remember not to forget next time. I like to write mine on my forehead!</p>

<p><%= link_to 'Change your password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Cheers!</p>

<p>hottakethursday.com</p>
